<p id="notice"><%= notice %></p>
<div id="page" class="hfeed site" >
  <!-- start site main container -->
  <div class="site_main_container">
    <!-- start stie content -->
    <section id="content" class="site_content">
      <div class="container">
        <div class="row">
          <h4 class="page-title screen-reader-text">Blog Posts</h4>
          <main class="main_content col-md-9 pull-left">
            <div class="blog_posts_wrapper blog_posts_list clearfix  list_blog_style">
              <% @posts.each do |post|%>
              <article class="blog_post_container post type-post status-publish format-image has-post-thumbnail hentry category-images-posts category-life-style tag-people post_format-post-format-image" >
                <div class="blog_post clearfix">
                  <div class="posts_list_wrapper clearfix">
                    <div class="post_thumbnail_wrapper">
                      <div class="blog_post_banner blog_post_image">
                        <a class="post-thumbnail" href="https://ahmad.works/writing/restaurant-employer-read-clients-orders-on-his-ipad/" aria-hidden="true">
                          <%= image_tag post.description_image  ,class:"img-responsive wp-post-image" ,alt:"#{post.title}" %>
                        </a>
                      </div>
                    </div>
                    <div class="post_info_wrapper">
                      <!-- use this wrapper in list style only to group all info far from thumbnail wrapper -->
                      <div class="blog_post_title">
                        <h2 class="entry-title title post_title">
                          <%= link_to "#{post.title}" , post%>
                        </h2>
                      </div>
                      <div class="entry-content blog_post_text blog_post_description">
                        <%= post.body_description.html_safe%>
                      </div>
                      <div class="blog_post_control clearfix">
                        <div class="blog_post_control_item blog_post_readmore">
                          <%= link_to "Devamını oku",post, class:"read_more_link"%>
                        </div>
                        <div class="blog_post_control_item blog_post_share">
                          <span class="share_item share_sign"><i class="fa fa-share "></i></span>

                          <span class="social_share_item_wrapper">
                            <a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=https://<%= post_url(post) %>"
                               class="share_item share_item_social share_facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://ahmad.works/writing/restaurant-employer-read-clients-orders-on-his-ipad/', 'facebook-share-dialog', 'width=626,height=436');
                                return false;"><i class="fa fa-facebook"></i></a>
                          </span>

                          <span class="social_share_item_wrapper">
                            <a rel="nofollow" href="https://twitter.com/share?url=https://<%= post_url(post) %>" target="_blank"
                               class="share_item share_item_social share_twitter"><i class="fa fa-twitter"></i></a>
                          </span>

                          <span class="social_share_item_wrapper">
                            <a rel="nofollow" href="https://plus.google.com/share?url=<%= post_url(post) %>" onclick="javascript:window.open(this.href,
                                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
                                return false;" class="share_item share_item_social share_googleplus"><i class="fa fa-google-plus"></i></a>
                          </span>

                        </div>
                      </div>
                    </div>
                    <!-- .post_info_wrapper close post_info_wrapper in cas of list style-->
                  </div>
                  <!-- .posts_list_wrapper -->
                </div>
              </article>
              <!-- Reading progress bar -->
                  <%end%>
            </div>
            <!-- .blog_posts_wrapper -->
            <div class="text-center">
            <nav class="navigation pagination " style="">
              <div class="nav-links" >
                <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
              </div>
            </nav>
            </div>
          </main>
          <!-- .main_content -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </section>
    <!-- .site_content -->
  </div>
  <!-- .site_main_container -->
  <!-- start site side container -->
</div>
<!-- end site side container .site_side_container -->
</div>